<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.mindswap.pellet"
   name="Pellet OWL reasoner Plug-in"
   version="1.4.0"
   provider-name="Mindswap.org"
   class="org.mindswap.pellet.eclipse.PelletPlugin">

   <runtime>
      <library name="pellet.jar">
         <export name="*"/>
      </library>
      <library name="lib/pellet.jar">
         <export name="*"/>
      </library>
      <library name="lib/aterm-java-1.6.jar"/>
      <library name="lib/xsdlib/relaxngDatatype.jar"/>
      <library name="lib/xsdlib/xsdlib.jar"/>
      <library name="lib/owlapi/rdfapi.jar">
      </library>
      <library name="lib/owlapi/owlapi.jar">
      </library>
      <library name="lib/owlapi/commons-lang-2.2.jar">
      </library>
   </runtime>
   <requires>
      <import plugin="com.hp.hpl.jena"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui"/>
   </requires>

</plugin>
