<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
 <copyright>
 Copyright (c) 2005-2010 Dennis Wagelaar, Vrije Universiteit Brussel.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html

 Contributors:
     Dennis Wagelaar, Vrije Universiteit Brussel
 </copyright>

 $Id$
-->

<plugin>
   <extension
         point="be.ac.vub.platformkit.knowledgebase">
      <knowledgebase
            factory="be.ac.vub.platformkit.kb.owlapi3.OWLAPIOntologiesFactory"
            name="%knowledgebase.name">
         <reasoner
               id="uk.ac.manchester.cs.factplusplus.owlapi.Reasoner"
               name="%reasoner.name">
         </reasoner>
         <reasoner
               id="com.clarkparsia.pellet.owlapiv3.PelletReasoner"
               name="%reasoner.name.0">
         </reasoner>
      </knowledgebase>
   </extension>

</plugin>
