<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.atl.eclipse.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/platformkit-java/transformations/UML2ToAPIOntology.atl"/>
<stringAttribute key="ATL VM" value="EMF-specific VM"/>
<booleanAttribute key="AllowInterModelReferences" value="true"/>
<booleanAttribute key="ContinueAfterError" value="false"/>
<mapAttribute key="Input">
<mapEntry key="JAVA" value="OWL"/>
<mapEntry key="PLATFORM" value="OWL"/>
<mapEntry key="IN" value="UML2"/>
</mapAttribute>
<mapAttribute key="Libs">
<mapEntry key="UML2Comparison" value="/platformkit-java/transformations/UML2Comparison.asm"/>
</mapAttribute>
<booleanAttribute key="Mode Debug" value="false"/>
<mapAttribute key="Model Handler">
<mapEntry key="UML2" value="EMF"/>
<mapEntry key="OWL" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="OUT" value="MODELOUTPUT"/>
<mapEntry key="JAVA" value="MODELINPUT"/>
<mapEntry key="UML2" value="METAMODELINPUT"/>
<mapEntry key="PLATFORM" value="MODELINPUT"/>
<mapEntry key="OWL" value="METAMODELOUTPUT"/>
<mapEntry key="IN" value="MODELINPUT"/>
</mapAttribute>
<mapAttribute key="Output">
<mapEntry key="OUT" value="OWL"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="OUT" value="/platformkit-java/j2me-midp-1_0-api.owl"/>
<mapEntry key="JAVA" value="/platformkit-java/Java.owl"/>
<mapEntry key="UML2" value="uri:http://www.eclipse.org/uml2/2.1.0/UML"/>
<mapEntry key="PLATFORM" value="/platformkit-java/Platform.owl"/>
<mapEntry key="OWL" value="uri:http:///org/eclipse/owl.ecore"/>
<mapEntry key="IN" value="/platformkit-java/j2me-midp-1_0-api.uml"/>
</mapAttribute>
<stringAttribute key="Project Name" value="platformkit-java"/>
<listAttribute key="Superimpose">
<listEntry value="/platformkit-java/transformations/UML2ToPackageAPIOntology.asm"/>
</listAttribute>
<booleanAttribute key="continueAfterError" value="false"/>
<booleanAttribute key="disableAttributeHelperCache" value="false"/>
<booleanAttribute key="printExecutionTime" value="true"/>
<booleanAttribute key="profile" value="false"/>
<booleanAttribute key="showSummary" value="false"/>
<booleanAttribute key="step" value="false"/>
</launchConfiguration>
