<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
 <copyright>
 Copyright (c) 2005-2010 Dennis Wagelaar, Vrije Universiteit Brussel.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html

 Contributors:
     Dennis Wagelaar, Vrije Universiteit Brussel
 </copyright>

 $Id$
-->

<plugin>
   <extension-point id="be.ac.vub.platformkit.java.apimodel" name="%extension-point.name" schema="schema/be.ac.vub.platformkit.java.apimodel.exsd"/>
   <extension
         point="be.ac.vub.platformkit.ontology">
      <ontology provider="be.ac.vub.platformkit.java.JavaOntologyProvider"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="be.ac.vub.platformkit.java.contribution1"
            nameFilter="*.uml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               icon="icons/full/obj16/PlatformKitLogo16.png"
               id="be.ac.vub.platformkit.java.menu1"
               label="%menu.label"
               path="additions">
            <separator name="group1"/>
         </menu>
         <action
               class="be.ac.vub.platformkit.java.popup.actions.CompatAction"
               enablesFor="1"
               id="be.ac.vub.platformkit.java.compatAction"
               label="%action.label"
               menubarPath="be.ac.vub.platformkit.java.menu1/group1"/>
      </objectContribution>
      <objectContribution
            id="be.ac.vub.platformkit.java.contribution2"
            objectClass="org.eclipse.jdt.core.IJavaProject">
         <menu
               icon="icons/full/obj16/PlatformKitLogo16.png"
               id="be.ac.vub.platformkit.java.menu2"
               label="%menu.label.0"
               path="additions">
            <separator name="group2"/>
         </menu>
         <action
               class="be.ac.vub.platformkit.java.popup.actions.JavaProjectCompatAction"
               enablesFor="1"
               id="be.ac.vub.platformkit.java.javaProjectCompatAction"
               label="%action.label.0"
               menubarPath="be.ac.vub.platformkit.java.menu2/group2"/>
      </objectContribution>
      <objectContribution
            id="be.ac.vub.platformkit.java.contribution3"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               icon="icons/full/obj16/PlatformKitLogo16.png"
               id="be.ac.vub.platformkit.java.menu3"
               label="%menu.label.1"
               path="additions">
            <separator name="group3"/>
         </menu>
         <action
               class="be.ac.vub.platformkit.java.popup.actions.JarFileCompatAction"
               enablesFor="1"
               id="be.ac.vub.platformkit.java.jarFileCompatAction"
               label="%action.label.1"
               menubarPath="be.ac.vub.platformkit.java.menu3/group3"/>
         <visibility>
            <or>
               <objectState
                     name="extension"
                     value="zip">
               </objectState>
               <objectState
                     name="extension"
                     value="jar">
               </objectState>
               <objectState
                     name="extension"
                     value="war">
               </objectState>
               <objectState
                     name="extension"
                     value="ear">
               </objectState>
               <objectState
                     name="extension"
                     value="sar">
               </objectState>
               <objectState
                     name="extension"
                     value="rar">
               </objectState>
            </or>
         </visibility>
      </objectContribution>
   </extension>
  <extension
        point="org.eclipse.emf.ecore.uri_mapping">
     <mapping
           source="http://soft.vub.ac.be/platformkit-java/UMLProfiles.ecore"
           target="platform:/plugin/be.ac.vub.platformkit.java/metamodels/UMLProfiles.ecore"/>
     <mapping
           source="http://soft.vub.ac.be/platformkit-java/CompatibilityReport.profile.uml"
           target="platform:/plugin/be.ac.vub.platformkit.java/profiles/CompatibilityReport.profile.uml"/>
  </extension>
  <extension
        point="be.ac.vub.platformkit.java.apimodel">
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/model/jre/jdk-1_1-api.uml"
           ont_uri="http://soft.vub.ac.be/platformkit/2010/1/jdk-1_1.owl"
           category="%apiModel.category"
           name="%apiModel.name">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/model/jre/j2se-1_2-api.uml"
           ont_uri="http://soft.vub.ac.be/platformkit/2010/1/j2se-1_2.owl"
           category="%apiModel.category.0"
           name="%apiModel.name.0">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/model/jre/j2se-1_3-api.uml"
           ont_uri="http://soft.vub.ac.be/platformkit/2010/1/j2se-1_3.owl"
           category="%apiModel.category.1"
           name="%apiModel.name.1">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/model/jre/j2se-1_4-api.uml"
           ont_uri="http://soft.vub.ac.be/platformkit/2010/1/j2se-1_4.owl"
           category="%apiModel.category.2"
           name="%apiModel.name.2">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/model/jre/j2se-5_0-api.uml"
           ont_uri="http://soft.vub.ac.be/platformkit/2010/1/j2se-5_0.owl"
           category="%apiModel.category.3"
           name="%apiModel.name.3">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/model/jre/java-se-6-api.uml"
           ont_uri="http://soft.vub.ac.be/platformkit/2010/1/java-se-6.owl"
           category="%apiModel.category.4"
           name="%apiModel.name.4">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/model/jre/personaljava-1_1-api.uml"
           ont_uri="http://soft.vub.ac.be/platformkit/2010/1/personaljava-1_1.owl"
           category="%apiModel.category.5"
           name="%apiModel.name.5">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/model/jre/j2me-pp-1_0-api.uml"
           ont_uri="http://soft.vub.ac.be/platformkit/2010/1/j2me-pp-1_0.owl"
           category="%apiModel.category.6"
           name="%apiModel.name.6">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/model/jre/j2me-pp-1_1-api.uml"
           ont_uri="http://soft.vub.ac.be/platformkit/2010/1/j2me-pp-1_1.owl"
           category="%apiModel.category.7"
           name="%apiModel.name.7">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/model/jre/j2me-midp-1_0-api.uml"
           ont_uri="http://soft.vub.ac.be/platformkit/2010/1/j2me-midp-1_0.owl"
           category="%apiModel.category.8"
           name="%apiModel.name.8">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/model/jre/j2me-midp-2_0-api.uml"
           ont_uri="http://soft.vub.ac.be/platformkit/2010/1/j2me-midp-2_0.owl"
           category="%apiModel.category.9"
           name="%apiModel.name.9">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/model/swt/swt-3_0-api.uml"
           ont_uri="http://soft.vub.ac.be/platformkit/2010/1/swt-3_0.owl"
           category="%apiModel.category.10"
           name="%apiModel.name.10">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/model/swt/swt-3_1-api.uml"
           ont_uri="http://soft.vub.ac.be/platformkit/2010/1/swt-3_1.owl"
           category="%apiModel.category.11"
           name="%apiModel.name.11">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/model/swt/swt-3_2-api.uml"
           ont_uri="http://soft.vub.ac.be/platformkit/2010/1/swt-3_2.owl"
           category="%apiModel.category.12"
           name="%apiModel.name.12">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/model/swt/swt-3_3-api.uml"
           ont_uri="http://soft.vub.ac.be/platformkit/2010/1/swt-3_3.owl"
           category="%apiModel.category.13"
           name="%apiModel.name.13">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/model/swt/swt-3_4-api.uml"
           ont_uri="http://soft.vub.ac.be/platformkit/2010/1/swt-3_4.owl"
           category="%apiModel.category.14"
           name="%apiModel.name.14">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/model/swt/swt-3_5-api.uml"
           ont_uri="http://soft.vub.ac.be/platformkit/2010/1/swt-3_5.owl"
           category="%apiModel.category.15"
           name="%apiModel.name.15">
     </apiModel>
  </extension>

</plugin>
