<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="be.ac.vub.platformkit.java.apimodel" name="Java API model" schema="schema/be.ac.vub.platformkit.java.apimodel.exsd"/>
   <extension
         point="be.ac.vub.platformkit.ontology">
      <ontology provider="be.ac.vub.platformkit.java.JavaOntologyProvider"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="be.ac.vub.platformkit.java.contribution1"
            nameFilter="*.uml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               icon="icons/full/obj16/PlatformKitLogo16.png"
               id="be.ac.vub.platformkit.java.menu1"
               label="PlatformKit"
               path="additions">
            <separator name="group1"/>
         </menu>
         <action
               class="be.ac.vub.platformkit.java.popup.actions.CompatAction"
               enablesFor="1"
               id="be.ac.vub.platformkit.java.compatAction"
               label="Determine compatibility with built-in API"
               menubarPath="be.ac.vub.platformkit.java.menu1/group1"/>
      </objectContribution>
      <objectContribution
            id="be.ac.vub.platformkit.java.contribution2"
            objectClass="org.eclipse.jdt.core.IJavaProject">
         <menu
               icon="icons/full/obj16/PlatformKitLogo16.png"
               id="be.ac.vub.platformkit.java.menu2"
               label="PlatformKit"
               path="additions">
            <separator name="group2"/>
         </menu>
         <action
               class="be.ac.vub.platformkit.java.popup.actions.JavaProjectCompatAction"
               enablesFor="1"
               id="be.ac.vub.platformkit.java.javaProjectCompatAction"
               label="Determine compatibility with built-in API"
               menubarPath="be.ac.vub.platformkit.java.menu2/group2"/>
      </objectContribution>
      <objectContribution
            id="be.ac.vub.platformkit.java.contribution3"
            nameFilter="*.jar"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               icon="icons/full/obj16/PlatformKitLogo16.png"
               id="be.ac.vub.platformkit.java.menu3"
               label="PlatformKit"
               path="additions">
            <separator name="group3"/>
         </menu>
         <action
               class="be.ac.vub.platformkit.java.popup.actions.JarFileCompatAction"
               enablesFor="1"
               id="be.ac.vub.platformkit.java.jarFileCompatAction"
               label="Determine compatibility with built-in API"
               menubarPath="be.ac.vub.platformkit.java.menu3/group3"/>
      </objectContribution>
   </extension>
  <extension
        point="org.eclipse.emf.ecore.uri_mapping">
     <mapping
           source="http://soft.vub.ac.be/platformkit-java/UMLProfiles.ecore"
           target="platform:/plugin/be.ac.vub.platformkit.java/metamodels/UMLProfiles.ecore"/>
     <mapping
           source="http://soft.vub.ac.be/platformkit-java/CompatibilityReport.profile.uml"
           target="platform:/plugin/be.ac.vub.platformkit.java/profiles/CompatibilityReport.profile.uml"/>
  </extension>
  <extension
        point="be.ac.vub.platformkit.java.apimodel">
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/jdk-1_1-api.uml"
           name="JDK 1.1">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/j2se-1_2-api.uml"
           name="J2SE 1.2">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/j2se-1_3-api.uml"
           name="J2SE 1.3">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/j2se-1_4-api.uml"
           name="J2SE 1.4">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/j2se-1_5-api.uml"
           name="J2SE 5.0">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/j2se-1_6-api.uml"
           name="Java SE 6">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/personaljava-1_1-api.uml"
           name="Personal Java 1.1">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/j2me-pp-1_0-api.uml"
           name="J2ME Personal Profile 1.0">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/j2me-pp-1_1-api.uml"
           name="J2ME Personal Profile 1.1">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/j2me-midp-1_0-api.uml"
           name="J2ME MIDP 1.0">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/j2me-midp-2_0-api.uml"
           name="J2ME MIDP 2.0">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/swt-3_0.uml"
           name="SWT 3.0">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/swt-3_1.uml"
           name="SWT 3.1">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/swt-3_2.uml"
           name="SWT 3.2">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/swt-3_3.uml"
           name="SWT 3.3">
     </apiModel>
     <apiModel
           emf_uri="platform:/plugin/be.ac.vub.platformkit.java/swt-3_4.uml"
           name="SWT 3.4">
     </apiModel>
  </extension>

</plugin>
