<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension-point id="ontology" name="Ontology" schema="schema/ontology.exsd"/>
   <extension-point id="knowledgebase" name="Knowledgebase" schema="schema/knowledgebase.exsd"/>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://ssel.vub.ac.be/platformkit" 
       class = "be.ac.vub.platformkit.PlatformkitPackage"
       genModel = "model/Platformkit.genmodel" /> 
  </extension>

</plugin>

