<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 Copyright (c) 2005-2010 Dennis Wagelaar, Vrije Universiteit Brussel.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html

 Contributors:
     Dennis Wagelaar, Vrije Universiteit Brussel
 </copyright>

 $Id$
-->

<plugin>
   <extension-point id="ontology" name="Ontology" schema="schema/ontology.exsd"/>
   <extension-point id="knowledgebase" name="Knowledgebase" schema="schema/knowledgebase.exsd"/>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://ssel.vub.ac.be/platformkit" 
       class = "be.ac.vub.platformkit.PlatformkitPackage"
       genModel = "model/Platformkit.genmodel" /> 
  </extension>

</plugin>

