<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 Copyright (c) 2005-2010 Dennis Wagelaar, Vrije Universiteit Brussel.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html

 Contributors:
     Dennis Wagelaar, Vrije Universiteit Brussel
 </copyright>

 $Id$
-->

<plugin>
  <extension-point id="platformSpec" name="%extension-point.name" schema="schema/platformSpec.exsd"/>

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "be.ac.vub.platformkit.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "be.ac.vub.platformkit.presentation.PlatformkitModelWizardID"
      name = "%_UI_PlatformkitModelWizard_label"
      class = "be.ac.vub.platformkit.presentation.PlatformkitModelWizard"
      category = "be.ac.vub.platformkit.Wizard.category.ID"
      icon = "icons/full/obj16/PlatformkitModelFile.gif">
      <description>%_UI_PlatformkitModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "be.ac.vub.platformkit.presentation.PlatformkitEditorID"
        name = "%_UI_PlatformkitEditor_label"
        icon = "icons/full/obj16/PlatformkitModelFile.gif"
        extensions = "platformkit"
        class = "be.ac.vub.platformkit.presentation.PlatformkitEditor" 
        contributorClass="be.ac.vub.platformkit.presentation.PlatformkitActionBarContributor" >
    </editor>
  </extension>
  <extension
        point="org.eclipse.ui.popupMenus">
     <objectContribution
           adaptable="false"
           id="be.ac.vub.platformkit.editor.EObjectContribution"
           objectClass="org.eclipse.emf.ecore.EObject">
        <action
              class="be.ac.vub.platformkit.presentation.popup.action.Profile"
              enablesFor="1"
              icon="icons/full/obj16/ConstraintSpace.gif"
              id="be.ac.vub.platformkit.editor.actions.Profile"
              label="%action.label"
              menubarPath="be.ac.vub.platformkit.editor.menu/EObjectGroup">
           <enablement>
              <not>
                 <or>
                    <objectClass name="be.ac.vub.platformkit.ConstraintSpace"/>
                    <objectClass name="be.ac.vub.platformkit.ConstraintSet"/>
                    <objectClass name="be.ac.vub.platformkit.Constraint"/>
                 </or>
              </not>
           </enablement>
        </action>
        <menu
              icon="icons/full/obj16/PlatformKitLogo16.png"
              id="be.ac.vub.platformkit.editor.menu"
              label="%menu.label"
              path="additions">
           <separator name="EObjectGroup"/>
        </menu>
     </objectContribution>
     <objectContribution
           adaptable="false"
           id="be.ac.vub.platformkit.editor.ConstraintSpaceContribution"
           objectClass="be.ac.vub.platformkit.ConstraintSpace">
        <action
              class="be.ac.vub.platformkit.presentation.popup.action.Validate"
              enablesFor="1"
              icon="icons/full/obj16/complete_tsk.gif"
              id="be.ac.vub.platformkit.editor.actions.Validate"
              label="%action.label.0"
              menubarPath="additions"/>
        <action
              class="be.ac.vub.platformkit.presentation.popup.action.SortLeastSpecificFirst"
              enablesFor="1"
              icon="icons/full/obj16/cp_order_obj.gif"
              id="be.ac.vub.platformkit.editor.actions.SortLeastSpecificFirst"
              label="%action.label.1"
              menubarPath="additions"/>
        <action
              class="be.ac.vub.platformkit.presentation.popup.action.SortMostSpecificFirst"
              enablesFor="1"
              icon="icons/full/obj16/cp_order_obj.gif"
              id="be.ac.vub.platformkit.editor.actions.SortMostSpecificFirst"
              label="%action.label.2"
              menubarPath="additions"/>
        <action
              class="be.ac.vub.platformkit.presentation.popup.action.ClassifyTaxonomy"
              enablesFor="1"
              icon="icons/full/obj16/GenModel.gif"
              id="be.ac.vub.platformkit.editor.actions.ClassifyTaxonomy"
              label="%action.label.3"
              menubarPath="additions"/>
        <action
              class="be.ac.vub.platformkit.presentation.popup.action.AddProductConfig"
              enablesFor="1"
              icon="icons/full/obj16/ModelFile.gif"
              id="be.ac.vub.platformkit.editor.actions.AddProductConfig"
              label="%action.label.4"
              menubarPath="additions"/>
        <action
              class="be.ac.vub.platformkit.presentation.popup.action.AddProductLine"
              enablesFor="1"
              icon="icons/full/obj16/EcoreModelFile.gif"
              id="be.ac.vub.platformkit.editor.actions.AddProductLine"
              label="%action.label.5"
              menubarPath="additions"/>
     </objectContribution>
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="be.ac.vub.platformkit.editor.preferences.PlatformkitPreferencePage"
           id="be.ac.vub.platformkit.editor.preferences.PlatformkitPreferencePage"
           name="%page.name"/>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer class="be.ac.vub.platformkit.editor.preferences.PreferenceInitializer"/>
  </extension>    
</plugin>
