<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/platformkit-java/transformations/UML2Copy.atl"/>
<stringAttribute key="ATL VM" value="EMF-specific VM"/>
<stringAttribute key="ATL_COMPILER" value="emftvm"/>
<booleanAttribute key="IS_REFINING" value="false"/>
<mapAttribute key="Input">
<mapEntry key="IN" value="UML2"/>
<mapEntry key="MERGE" value="UML2"/>
</mapAttribute>
<mapAttribute key="Libs">
<mapEntry key="UML2" value="/platformkit-java/transformations/UML2.asm"/>
</mapAttribute>
<mapAttribute key="Model Handler">
<mapEntry key="UML2" value="UML2"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="IN" value="MODELINPUT"/>
<mapEntry key="MERGE" value="MODELINPUT"/>
<mapEntry key="OUT" value="MODELOUTPUT"/>
<mapEntry key="UML2" value="METAMODELOUTPUT"/>
</mapAttribute>
<mapAttribute key="Options">
<mapEntry key="OPTION_CLEAR" value="true"/>
<mapEntry key="OPTION_CONTENT_TYPE" value="false"/>
<mapEntry key="OPTION_DERIVED" value="true"/>
<mapEntry key="allowInterModelReferences" value="true"/>
<mapEntry key="printExecutionTime" value="true"/>
<mapEntry key="step" value="false"/>
<mapEntry key="supportUML2Stereotypes" value="true"/>
</mapAttribute>
<listAttribute key="OrderedInput">
<listEntry value="IN"/>
<listEntry value="MERGE"/>
</listAttribute>
<listAttribute key="OrderedOutput">
<listEntry value="OUT"/>
</listAttribute>
<mapAttribute key="Output">
<mapEntry key="OUT" value="UML2"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="IN" value="/platformkit-java/pkCompatReportSWT3_0.uml"/>
<mapEntry key="MERGE" value="/platformkit-java/pkCompatReportJDK1_1.uml"/>
<mapEntry key="OUT" value="/platformkit-java/pkCompatReportMerge.uml"/>
<mapEntry key="UML2" value="/platformkit-java/metamodels/UMLProfiles.ecore"/>
</mapAttribute>
<stringAttribute key="Port" value="6060"/>
<listAttribute key="Superimpose">
<listEntry value="/platformkit-java/transformations/UML2CRMerge.asm"/>
</listAttribute>
</launchConfiguration>
